<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %><p>
<p><%= @restaurant.category %></p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>


<% @reviews.each do |review| %>
<p><%= review.content %></p>
<p><%= review.rating %></p>
<% end %>
